/*variables*/
@font-face {
    font-family: 'Aquatico';
    src: url(../fonts/Aquatico-Regular.otf);  
}
@font-face {
    font-family: 'Porta';
    src: url(../fonts/Potra.ttf); 
}
@font-face {
    font-family: 'Abysso';
    src: url(../fonts/abyssopelagic.otf);
}


:root {
    --darkGreyColor: #323639;
    --redColor: #DF4630;
    --darkRedColor: #9A031E;
    --greyColor: #ABA6A5;
   
}
/* Document */

body {
    font-family: 'Roboto';
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0B1C3E;
    -webkit-transition: background-color 1.8s ease-out;
}
.header_title{
    margin-top: 1rem;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Aquatico';
}
main {
    width: 100%;
    height: 80%;
}
.carousel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
}    
.carousel_wrap {
    height: 100%;
    width: 35rem;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.carousel_wrap::-webkit-scrollbar {
    display: none;
}

.image_carousel {
    border-radius:3rem; 
    width: 35rem; 
    position: relative;  
}
.title_carousel {
    position: relative;
    bottom: 2rem;
    text-align: center;
    font-size: 2.5vw;
    color: white;
    font-family: 'Bruno Ace';
}
.modal{
    color: white;
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /*background-color: rgba(0,0,0,0.4);*/
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
    25% {
		opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
	
	100% {
		opacity: 1;
	}
}
.modal_content{
    position: absolute;
    top: 16%;
    left: 24%;
    width: 50%;
    height: 70%;
    padding: 1rem;
    /*min-width: 60rem;
    min-height: 50rem;*/
    border-radius: 1rem;
}
/*A propos*/
.modal_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.apropos_title{
    font-family: 'Aquatico';
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}
.apropos_container{
    display: flex;
}
.infoscontacts_container{
    display: flex;
    flex-direction: column;

}
.infosphoto_container{
    display: flex;
}
.infos_container{
    display: flex;
    flex-direction: column;
}
.photoResume{
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70%  ;
    border: #DF4630 solid 3px;
    height: 10rem;
}

.backgrounds_container{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.backgrounds_container::-webkit-scrollbar {
    display: none;
}
.background{
    position: relative;
    width: 100%;
    height: 100%;
}
.LeftButton{
    margin-right: 2rem;
}
.RightButton{
    margin-left: 2rem;
}
.button{
    height: 5rem;
    width: 5rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.img_button{
    height: 100%;
    width: 100%;
}
.visible{
    visibility: hidden;
}
footer{
    height: 5%;
}
header{
    height: 15%;
}