/*variables*/

:root {
    --greenColor: #84A59D;
   
}
/* Document */

html {
    font-size: 62.5%;
    font-family: Mali;
    height: 100%;
}
body {
    font-size: 1.6em;
    background-color: #F7EDE2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Header */
#header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}
h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: 600;
    color: var(--greenColor);
}

.title_work{
    color: var(--greenColor);
    font-size: 3.5rem;
    text-align: center;
}
.container_name_and_work {
    margin-right: 2rem;
}
.container_profiles {
  display: flex; 
   flex-direction: row;
   align-items: center;
   margin-left: 2rem;
}
.container_photo_profil {
    width: 15rem;
    height: 17.5rem;
    border-radius: 64% 36% 47% 53% / 45% 44% 56% 55%;
    border: solid 8px #F28482;
}

/*border-radius: 56% 44% 83% 17% / 44% 23% 77% 56%  ;*/
.photo_profil {
    width: 100%;
    height: 100%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    border: solid 8px #F6BD60;
    box-sizing: border-box;
}

.container_links {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
/* Main */

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
main div {
    width: 150rem;
    margin-bottom: 4rem;
}
main h2 {
    color: var(--greenColor);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
p {
    color: black;
    font-size: 1.8rem;
    font-family: Raleway;
    line-height: 2.5rem;
    text-align: center;
}

/* Footer */ 
footer {
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.name_year {
    font-size: 1.8rem;
    text-align: right;
    font-weight: 600;
    margin-right: 5rem;
};
/* loading sign*/
.body_prepage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prepage_title {
    font-size: 2.5rem;
    font-weight: 600;
}
.container_loading-sign {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dot {
    width: 20px;  
    height: 20px;
    border-radius: 50%;
    margin: 8rem;
    /*je crée une box shadow à ma div 'dot' pour obtenir des points en cercle dont je change les couleurs */
    box-shadow:
    0 -3em rgba(242, 132, 130, 1),
    2.25em -2.25em rgba(246, 189, 96, 1),
    3em 0 rgba(132, 165, 157, 1),
    2.25em 2.25em rgba(245, 202, 195, 1),
    0 3em rgba(242, 132, 130, 1),
    -2.25em 2.25em rgba(246, 189, 96, 1),
    -3em 0 rgba(132, 165, 157, 1),
    -2.25em -2.25em rgba(245, 202, 195, 1)
    ;
    /* J'applique l'animation à ma div 'dot' */
    animation: loading 1s linear; 
    animation-iteration-count: 10;
 }

/* Je crée une animation pour faire une effet de rotation sur mon point et ses 'shadows'*/
@keyframes loading {
    100% { transform: rotate(-360deg) };
  }
/*Responsive sur téléphone*/
@media screen and (max-width : 768px) {
    header {
        display: flex;
        flex-direction: column;
    }
    .container_name_and_work {
        margin-left: 0;
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container_profiles {
        margin: 5rem 0 5rem 0;
        margin-right: 0;
    }
}