/*variables*/

:root {
    --darkGreyColor: #323639;
    --redColor: #DF4630;
    --darkRedColor: #9A031E;
    --greyColor: #ABA6A5;
   
}
/* Document */

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    -webkit-transition: background-color 2s ease-out;
}
main {
    width: 100vw;
    height: 100vh;
}
.carousel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
}    
.carousel_wrap {
    height: 100%;
    width: 25rem;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.carousel_wrap::-webkit-scrollbar {
    display: none;
}

img {
    border-radius:3rem; 
    width: 25rem; 
    position: relative;  
}
h2 {
    position: relative;
    bottom: 2rem;
    text-align: center;
    font-size: 2.5vw;
    color: white;
}
.modal{
    color: white;
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
.modal_content{
    background-color: #DF4630;
    position: absolute;
    top: 16%;
    left: 24%;
    width: 50%;
    height: 70%;
    padding: 1rem;
    /*min-width: 60rem;
    min-height: 50rem;*/
    border-radius: 1rem;
}
.backgrounds_container{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.backgrounds_container::-webkit-scrollbar {
    display: none;
}
.background{
    position: relative;
    width: 100%;
    height: 100%;
}
.backgroundRed{
    background-color: #DF4630;
}
.backgroundBlue{
    background-color: #0043fd70; 
}
